# Node.js / Env Files
node_modules/
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production


# Mac OS Files
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
.cache
.thumbnails